{% for logstream in log_config %}
[{{ log_config[logstream].log_file }}]
file = {{ log_config[logstream].log_file }}
{# env and brand are templated at boot time, not now #}
log_group_name = {{'{{ env }}'}}-{{'{{ brand }}'}}-{{ log_config[logstream].log_file }}
log_stream_name = {instance_id}
datetime_format = [%a %b %d %H:%M:%S.%f %Y]
batch_size = 10

{% endfor %}
