description "Upstart task for Configuring Cloudwatch logs"
author "Beamly Platform Team <platform@beamly.com>"

start on filesystem

task
console log

script

    echo "Starting cloudwatch logs retention/metrics configuration..."
    {{ awslogs_virtualenv_dir }}/bin/python {{ awslogs_scripts_dir }}/configure_cloudwatch_logs.py {{ awslogs_agent_config_dir }} {{ awslogs_scripts_dir }}

    echo "Restarting the awslog (Cloudwatch logs) daemon..."
    /usr/sbin/service awslogs restart

end script
